<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div class="flex justify-center items-center h-screen bg-gray-100">
    <form method="post" action="{{.post_url}}">
    
  <div class="max-w-sm p-6 bg-white rounded-lg shadow-md">
    <div class="flex items-center justify-center mb-4">
      <img src="https://via.placeholder.com/150" alt="Source App Logo" class="h-12 w-12 mr-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5l7 7-7 7" />
      </svg>
      <img src="https://via.placeholder.com/150" alt="Destination App Logo" class="h-12 w-12 ml-4">
    </div>

    <h2 class="text-lg font-semibold text-gray-800 mb-4">Authorize {{.app.Name}} to access {{.providerName}}</h2>

    <p class="text-sm text-gray-600 mb-6">
        The app is requesting the following permissions:
    </p>
    <div class="flex flex-col space-y-4">
      <!-- <div class="flex items-center space-x-2">
        <input type="checkbox" id="toggle1" class="form-checkbox h-5 w-5 text-blue-600 transition duration-150 ease-in-out">
        <label for="toggle1" class="ml-3 block text-sm font-medium text-gray-700">
          View your profile information
        </label>
      </div> -->

      {{range $scope := .session.Scopes}}

      <div class="flex items-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span class="text-sm text-gray-600">{{$scope}}</span>
      </div>

      {{end}}

    </div>
    <div class="mt-6 flex space-x-4">
      <input type="submit" name="accept" value="Accept" class="w-1/2 py-2 px-4 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 transition duration-300">
      <input type="submit" name="decline" value="Decline" class="w-1/2 py-2 px-4 bg-gray-500 text-white font-bold rounded hover:bg-gray-700 transition duration-300">
    </div>
  </div>
    </form>
</div>

</body>
</html>